.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 24px;
    top: 24px;
    right: 30px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .bm-burger-button, .bm-menu-wrap {
        display: none;
    }
}
.bm-burger-bars {
    background: #a6a6a6;
    border-radius: 30px;
    height: 3.5px;
}
.bm-burger-bars-hover {
    background: #a90000
}
.bm-cross-button {
    height: 40px !important;
    width: 40px !important; 
    top: 30px !important;
    right: 30px !important;
    border-radius: 5px;

}
.bm-cross {
    background: #797979;
    height: 5px !important;
    width: 30px !important; 
    top: 10px !important;
    right: 0px !important;
}
.bm-menu-wrap {
    position: fixed;
    width: 100%;      
}
.bm-menu {
    background: #f8f8f8;
    padding: 2.5em 1.5em 0;
    font-size: 1em;
}
.bm-morph-shape {
    fill: #373a47;
}
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    top: 8em;
    display: grid;
    height: 250px !important;
    text-align: center;
    font-size: 24px;
    margin-top: 60px;
}
.bm-item {
    text-align: center;
    line-height: 7rem;
    font-size: 36px;
    padding: 40px;
}
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
