@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap');

@font-face {
    font-family: "Brown";
    src: url("./font/Brown-Regular.ttf");
}

html {
    line-height: 1.15;
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Brown";
    color: #636363;
    overflow: scroll;
    overflow-x: hidden;
}