@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap');

@font-face {
    font-family: "Brown";
    src: url("./font/Brown-Regular.ttf");
}

html {
    line-height: 1.15;
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Brown";
    color: #636363;
    overflow: scroll;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    outline: none;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 768px) {
    .bm-burger-button, .bm-menu-wrap {
        display: none;

        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
        -webkit-tap-highlight-color: transparent;
    }
}
